@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Tahoma;
}

:root{
    --color-black: #252525;
    --color-white: #ffffff;
    --color-grey: #4d4d4d;
}

header{
    background-color: var(--color-black);
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    color: var(--color-white);
    border-bottom: 0.3vh solid var(--color-grey);
}

#X-icon{
    cursor: pointer;
}

header div p{
    font-size: 2.5vh;
    cursor: pointer;
}

.menu{
    cursor: pointer;
}

.icon-user{
    cursor: pointer;
}

main{
    min-height: 90vh;
    background-color: var(--color-black);
    /* overflow: auto; */
    flex-direction: column;
}

section{
    width: 75vh;
    margin: 2vh 0 2vh;
    
}

section input{
    width: 100%;
    height: 4vh;
    font-size: 2.5vh;
    border-radius: 10px;
    text-align: center;
    background-color: var(--color-black);
    border: 2px solid var(--color-grey);
    color: var(--color-white);
}

section input::placeholder {
    text-align: left; /* Placeholder normal para garantir que o texto esteja alinhado à esquerda */
    position: relative;
}

main ul{
    overflow: auto;
    width: 75vh;
    background-color: var(--color-black);
    margin-left: 10vh;
    margin-right: 10vh;
    color: var(--color-white);
    border-right: 0.3vh solid var(--color-grey);
    border-left: 0.3vh solid var(--color-grey);
    list-style: none;
    flex-direction: column;
}

main ul li{
    width: 100%;
    border-bottom  : 0.3vh solid var(--color-grey);
    padding: 5%;
}

.li-header{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.li-footer{
    margin-top: 8px;
    margin-bottom: 8px;
}

.li-footer p{
    cursor: pointer;
}

.li-title{
    margin-bottom: 8px;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.ml-16{
    margin-left: 5vh;
}

.mr-16{
    margin-right: 5vh;
}